<p id="notice"><%= notice %></p>

<p>
  <strong>Room:</strong>
  <%= @photo.room_id %>
</p>

<p>
  <strong>Img:</strong>
  <%= @photo.img %>
</p>

<p>
  <strong>Represent:</strong>
  <%= @photo.represent %>
</p>

<!-- 追加箇所 開始 -->
<p>
  <strong>Image:</strong>
  <% if @photo.image? %>
    <div class="thumbnail">
      <%= image_tag @photo.image.url %>
    </div>
  <% end %>
</p>
<!-- 追加箇所 終了 -->

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
